.el-container-note {
  height: 100%;
}

.el-aside-one {
  background-color: #fff;
}

.el-aside-one>>>.btn-dropdown-menu button {
  height: 35px;
  line-height: 13px;
}

.btn-dropdown-menu {
  margin: 10px 0px 0px 10px;
}

.btn-dropdown-menu>>>button:first-child {
  width: 150px !important;
}

.el-aside-two {
  background-color: #f4f6f9;
}

.el-aside-two .search-header {
  height: 60px;
  background: #f4f6f9;
  text-align: center;
  position: relative;
}

.el-aside-two .search-header .lumen-icon-sousuo {
  position: absolute;
  left: 16px;
  top: 19px;
  font-size: 20px;
  color: #505050;
}

.el-aside-two .search-header .lumen-icon-clear {
  position: absolute;
  right: 1px;
  top: 17px;
  font-size: 24px;
  color: #505050;
}

.search-header input {
  height: 30px;
  width: 80%;
  position: absolute;
  left: 40px;
  top: 15px;
  padding: 0 3px;
  font-size: 14px;
  background: #f4f6f9;
}

.search-header input::-webkit-input-placeholder {
  color: rgb(158, 150, 150);
  font-size: 13px;
}

.el-aside-two .note-count-title {
  height: 40px;
  line-height: 40px;
  position: relative;
  color: #7b7777;
  border-top: 1px solid #ece8e8;
  border-bottom: 1px solid #ece8e8;
}

.el-aside-two .note-count-title span {
  margin-left: 10px;
  font-size: 14px;
}

.el-aside-two .note-count-title .load-span {
  position: absolute;
  right: 5px;
  display: inline-block;
  margin-right: 15px;
  color: #6dabdc;
  font-size: 12px;
}

.el-aside-two .note-count-title .load-span .sort-icon {
  cursor: pointer;
  font-size: 18px;
  color: #7b7777;
}

.article-container {
  width: 100%;
  height: calc(100% - 102px);
  height: -moz-calc(100% - 102px);
  height: -webkit-calc(100% - 102px);
  overflow-y: auto;
  overflow-x: hidden;
}

.article-container .note-list-empty{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30%;
}

.article-container .note-list-empty .svg-notebook{
  width: 110px;
  height: 122px;
  font-size: 100px;
  color: #ccc;
}

.article-container .article-row {
  min-height: 50px;
  border-bottom: 2px solid #ffffff;
  padding: 10px 5px 5px 10px;
  position: relative;
}

.article-container .article-row .article-title {
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  width: 327px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.article-container .article-row .article-tool {
  height: 20px;
  width: 56px;
  position: absolute;
  right: 5px;
  top: 10px;
  display: none;
  text-align: right;
}

.article-container .article-row .article-tool i {
  cursor: pointer;
  margin-left: 2px;
  margin-right: 3px;
}

.article-container .article-row .article-tool .el-icon-edit-outline {
  color: rgb(64, 158, 255);
}

.article-container .article-row .article-tool .el-icon-delete {
  color: red;
}

.article-container .article-row .article-tool .recover-note {
  color: rgb(64, 158, 255);
}



.article-container .article-row .article-items {
  display: flex;
  align-items: center;
}

.article-container .article-row:hover,
.article-container .article-row-active {
  background: white;
}

.article-container .article-row:hover .article-title,
.article-container .article-row-active .article-title {
  width: 270px;
}

.article-container .article-row:hover .article-tool,
.article-container .article-row-active .article-tool {
  display: block;
}

.article-items .article-item {
  flex-grow: 1;
}

.article-items .article-item-img {
  width: calc(100% - 56px - 16px);
}

.article-date {
  display: flex;
  align-items: center;
  padding-top: 4px;
  font-size: 12px;
  color: #a7afbc;
  font-weight: 400;
  line-height: 1.6;
}

.article-date span {
  margin-right: 15px;
}

.article-abstract {
  display: -webkit-box;
  flex-grow: 1;
  max-height: 42px;
  font-size: 12px;
  color: #989494;
  line-height: 1.6;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-word;
  overflow: hidden;
  cursor: pointer;
}

.article-items .article-image {
  width: 56px;
  height: 56px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 16px;
  cursor: pointer;
}

.article-items .article-image img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.article-items .article-image>>>.el-image__error {
  font-size: 10px;
  background-color: white;
}

.article-items:hover .article-image>>>.el-image__error {
  background: #F5F7FA;
  color: #C0C4CC;
}


.el-container-note .note-headline {
  height: 40px;
  line-height: 40px;
  color: #c3b9b9;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
}

.el-container-note .note-aside {
  height: calc(100% - 100px);
  height: -moz-calc(100% - 100px);
  height: -webkit-calc(100% - 100px);
  overflow-y: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.note-aside .note-list-first {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  cursor: pointer;
  position: relative;
}

.note-aside .note-list-active {
  background: #f6f3f3;
}

.note-aside .note-list-first:hover {
  background: #f6f3f3;
}

.note-aside .note-list-first>span {
  padding-left: 5px;
  font-size: 13px;
  cursor: pointer;
}

.note-aside .note-list-first .icon-menu-nav {
  position: absolute;
  right: 10px;
  top: 1px;
}

.note-aside .note-list-two {
  height: 40px;
  line-height: 40px;
  padding-left: 30px;
  cursor: pointer;

}

.note-aside .note-list-two i {
  color: #448aff;
}

.note-aside .note-list-two:hover {
  color: #448aff;
}

.note-aside .note-list-two span {
  font-size: 12px;
  cursor: pointer;
}

.note-aside .note-list-two input {
  width: 176px;
  border: 1px solid #66b1ff;
  height: 25px;
  line-height: 25px;
  margin-left: 5px;
  padding: 2px 3px;
  font-size: 12px;
  border-radius: 3px;
}

.el-main-content {
  background-color: #fff;
  padding: 0;
  width: 100%;
}

.el-main-content-full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
}

.el-main-content .empty-note {
  width: 100%;
  padding-top: 100px;
  height: 450px;
  margin: auto;
}

.el-main-content .empty-note svg {
  width: 250px;
  height: 250px;
  margin: 0px auto;
  display: block;
}

.el-main-content .empty-note p {
  text-align: center;
  font-size: 12px;
  color: #b9b4b4;
}

.el-main-content .loading-note {
  width: 100%;
  padding-top: 250px;
  text-align: center;
  height: 400px;
  margin: auto;
}

.el-main-content .loading-note i {
  font-size: 50px;
  color: rgb(102, 177, 255);
}

.el-main-content .loading-note p {
  text-align: center;
  font-size: 12px;
  color: #b9b4b4;
  margin-top: 20px;
}

.note-editor-header {
  height: 60px;
}

.note-editor-header .editor-title {
  float: left;
  width: calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
  height: 100%;
}

.note-editor-header .editor-title input {
  width: 95%;
  height: 45px;
  margin-top: 8px;
  margin-left: 16px;
  font-size: 18px;
  border-bottom: 1px dashed rgb(158, 150, 150);
}

.note-editor-header .editor-title .input-no-border {
  border: none;
}

.note-editor-header .editor-title input::-webkit-input-placeholder {
  color: rgb(158, 150, 150);
  font-size: 14px;
}

.note-editor-header .editor-title input::-moz-placeholder {
  color: rgb(158, 150, 150);
  font-size: 14px;
}

.note-editor-header .editor-tool {
  float: left;
  width: 200px;
  height: 100%;
}

.note-editor-header .editor-tool>div {
  position: relative;
  float: right;
  padding: 4px;
  cursor: pointer;
  margin-top: 14px;
  margin-right: 6px;
  border-radius: 2px;
  font-size: 14px;
  padding: 5px 10px;
  background: #ffaa5e;
  color: white;
}

.note-editor-box {
  height: calc(100% - 60px);
  height: -webkit-calc(100% - 60px);
  height: -moz-calc(100% - 60px);
  overflow: auto;
  width: 100%;
}

.note-editor-box .editor {
  height: 100%;
  width: 100%;
}

.note-editor-box>>>.v-note-wrapper .v-note-op {
  border-radius: 0 !important;
}

.note-editor-box>>>.v-note-edit.divarea-wrapper .content-input-wrapper {
  padding-left: 15px !important;
}

.note-editor-box .note-header-tool {
  height: 20px;
  line-height: 30px;
  padding: 6px 15px 15px 15px;
  border-bottom: 1px solid #ece4e4;
  overflow: hidden;
}

.note-editor-box .note-header-tool .tool-groups i {
  position: relative;
  top: 2px;
}

.note-editor-box .note-header-tool .tool-groups {
  cursor: pointer;
  margin-right: 10px;
}

.note-editor-box .note-header-tool .tool-groups span {
  font-size: 12px;
  color: rgb(90, 88, 88);
}

.note-editor-box .note-header-tool .tool-groups .add-tags {
  color: #409eff;
}

.note-header-tool .tool-groups .el-icon-link {
  color: #4699ff;
}

.note-header-tool .tool-groups .el-icon-star-on {
  color: rgb(255, 193, 82);
}

.note-header-tool .tool-groups .el-icon-star-off {
  color: rgb(147, 147, 147);
}

.note-header-tool .tool-groups .el-icon-collection-tag {
  color: #ffaa5e;
}

.note-editor-box .share-note {
  width: 35px;
  height: 35px;
  background-color: #409eff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;

  animation: shareNote 3s infinite;
  -webkit-animation: shareNote 3s infinite;
  box-shadow: 0 0 0 #409eff;
}

.note-editor-box .share-note i {
  font-size: 22px;
}

@keyframes shareNote {
  0% {
    width: 35px;
    height: 35px;
  }

  50% {
    transform: scale(1.2);
  }
}

@-moz-keyframes shareNote {
  0% {
    width: 35px;
    height: 35px;
  }

  50% {
    transform: scale(1.2);
  }
}

@-webkit-keyframes shareNote {
  0% {
    width: 35px;
    height: 35px;
  }

  50% {
    width: 35px;
    height: 35px;
  }
}

@-o-keyframes shareNote {
  0% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1.2);
  }
}



/* 文件管理弹出层 */
.note-files-manager {
  width: 300px;
  min-height: 50px;
  max-height: 675px;
  background-color: white;
  overflow-y: auto;
}

.note-files-manager .file-box {
  min-height: 30px;
  border-bottom: 1px solid rgb(239, 233, 233);
  margin-bottom: 8px;
  padding: 5px 0;
}

.note-files-manager .file-box .no-file {
  color: #969292;
  font-size: 14px;
}

.note-files-manager .file-box .file-item {
  height: 50px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.note-files-manager .file-box .file-item .file-type {
  width: 50px;
  height: 100%;
  background-color: #ffcc80;
  border-radius: 3px;
  float: left;
  line-height: 50px;
  text-align: center;
  color: white;
}

.note-files-manager .file-box .file-item .file-detail {
  float: left;
  width: 247px;
  height: 100%;
}

.file-item .file-detail .filename {
  padding-left: 5px;
  color: #172b4d;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-item .file-detail .filetool {
  color: #505f79;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
  padding-left: 5px;
  margin-top: 9px;
  position: relative;
}

.file-item .file-detail .filetool-help {
  position: absolute;
  top: -5px;
  right: 5px;
  width: 55px;
  height: 24px;
  text-align: right;
  line-height: 28px;
}

.file-item .file-detail .filetool-help i {
  font-size: 16px;
  cursor: pointer;
  margin-right: 5px;
}

.file-item .file-detail .filetool-help .el-icon-download {
  color: #66b1ff;
}

.file-item .file-detail .filetool-help .el-icon-delete {
  color: red;
}

.note-files-manager input {
  display: none;
}

.note-files-manager .files-manager-footer .upload-tips {
  font-size: 12px;
  color: #ccc;
  text-align: left;
  float: left;
  padding-top: 10px;
}

.note-files-manager .files-manager-footer button {
  float: right;
}

.note-flex {
  display: flex;
}


/* 标签管理弹出层 */
.tag-manager .tag-manager-title {
  height: 20px;
  line-height: 20px;
  font-size: 13px;
  color: #ccc;
  border-bottom: 1px solid #f0e9e9;
  padding-bottom: 5px;
  position: relative;
}

.tag-manager .tag-manager-box {
  padding: 8px 8px 8px 0;
}

.tag-manager .tag-manager-box .tag-item {
  background-color: rgba(64, 158, 255, .1);
  display: inline-block;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #409eff;
  box-sizing: border-box;
  white-space: nowrap;
  margin-bottom: 5px;
  margin-right: 3px;
}

.tag-manager .tag-manager-box .tag-item i {
  cursor: pointer;
  margin-left: 5px;
}

.tag-manager .tag-manager-box .tag-item-active {
  color: #9a9191;
}

.tag-manager .tag-manager-box .tag-item i:hover {
  color: red;
}

.tag-manager .tag-manager-box {
  cursor: pointer;
}

.tag-manager .tag-manager-box .el-icon-plus {
  margin-left: 0 !important;
}

.tag-manager .tag-manager-input {
  margin-top: 20px;
  min-height: 30px;
}

.tag-manager .tag-manager-input input {
  width: 200px;
  height: 28px;
  border: 1px solid #66b1ff;
  padding: 0 5px;
  border-radius: 3px;
}

.tag-manager .tag-manager-input input::-webkit-input-placeholder {
  font-size: 13px;
  color: #ccc;
}

.tag-manager .inster-tag {
  height: 33px;
  width: 100%;
  margin-top: 20px;
  line-height: 9px;
  border-radius: 1px;
}


/* markdown css 重写 */
.note-editor-box>>>.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  margin: 0 auto;
  padding: 30px 15px;
  font-size: 14px;
  color: #666;
  font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}


.note-editor-box>>>.markdown-body pre {
  padding: 10px;
  font-size: 15px;
  position: relative;
}

.note-editor-box>>>.markdown-body pre .fz-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  min-width: 30px;
  padding: 0 5px;
  height: 25px;
  background: #dad8d8;
  line-height: 28px;
  text-align: center;
  border-radius: 3px;
  color: #747474;
  cursor: pointer;
  display: none;
  font-size: 12px;
  z-index: 2;
}

.note-editor-box>>>.markdown-body pre:hover .fz-btn {
  display: block;
}

.note-editor-box>>>.markdown-body pre .fz-btn:active {
  color: red;
}

.note-editor-box>>>.markdown-body pre code {
  display: block;
  max-width: auto;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
  overflow-x: auto;
}

.note-editor-box>>>.markdown-body p code {
  padding: 2px 4px;
  color: #c7254e;
  background-color: #ffe8e8;
  margin: 0 3px;
  white-space: nowrap;
  border-radius: 2px;
}

.note-editor-box>>>pre code::-webkit-scrollbar {
  height: 8px;
  background-color: #d5cece;
  overflow-x: auto;
}

.note-editor-box>>>pre code::-webkit-scrollbar-thumb {
  height: 8px;
  background-color: #9f9898;
  overflow-x: auto;
}
