.el-container-note {
  height: 100%;
}

.el-aside-one {
  background-color: #fff;
}

.el-aside-one>>>.btn-dropdown-menu button {
  height: 35px;
  line-height: 13px;
}

.btn-dropdown-menu {
  margin: 10px 0px 0px 10px;
}

.btn-dropdown-menu>>>button:first-child {
  width: 150px !important;
}

.el-aside-two {
  background-color: #f4f6f9;
}

.el-aside-two .search-header {
  height: 60px;
  background: #f4f6f9;
  text-align: center;
  position: relative;
}

.el-aside-two .search-header .lumen-icon-sousuo {
  position: absolute;
  left: 16px;
  top: 19px;
  font-size: 20px;
  color: #505050;
}

.el-aside-two .search-header .lumen-icon-clear {
  position: absolute;
  right: 1px;
  top: 17px;
  font-size: 24px;
  color: #505050;
}

.search-header input {
  height: 30px;
  width: 80%;
  position: absolute;
  left: 40px;
  top: 15px;
  padding: 0 3px;
  font-size: 14px;
  background: #f4f6f9;
}

.search-header input::-webkit-input-placeholder {
  color: rgb(158, 150, 150);
  font-size: 13px;
}

.el-aside-two .note-count-title {
  height: 40px;
  line-height: 40px;
  position: relative;
  color: #7b7777;
  border-top: 1px solid #ece8e8;
  border-bottom: 1px solid #ece8e8;
}

.el-aside-two .note-count-title span {
  margin-left: 10px;
  font-size: 14px;
}

.el-aside-two .note-count-title .load-span {
  position: absolute;
  right: 5px;
  display: inline-block;
  margin-right: 10px;
  color: #6dabdc;
  font-size: 12px;
}

.el-aside-two .note-count-title .load-span .sort-icon {
  cursor: pointer;
  font-size: 18px;
  color: #7b7777;
}

.article-container {
  width: 100%;
  height: calc(100% - 102px);
  height: -moz-calc(100% - 102px);
  height: -webkit-calc(100% - 102px);
  overflow-y: auto;
  overflow-x: hidden;
}

.article-container .note-list-empty {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30%;
}

.article-container .note-list-empty .svg-notebook {
  width: 110px;
  height: 122px;
  font-size: 100px;
  color: #ccc;
}

.article-container .article-row {
  min-height: 50px;
  border-bottom: 2px solid #ffffff;
  padding: 10px 10px 5px 10px;
  position: relative;
}

.article-container .article-row .article-title {
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  width: 327px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.article-container .article-row .article-tool {
  height: 20px;
  width: 56px;
  position: absolute;
  right: 5px;
  top: 10px;
  display: none;
  text-align: right;
}

.article-container .article-row .article-tool i {
  cursor: pointer;
  margin-left: 2px;
  margin-right: 3px;
}

.article-container .article-row .article-tool .el-icon-edit-outline {
  color: rgb(64, 158, 255);
}

.article-container .article-row .article-tool .el-icon-delete {
  color: red;
}

.article-container .article-row .article-tool .recover-note {
  color: rgb(64, 158, 255);
}

.article-container .article-row .article-items {
  display: flex;
  align-items: center;
}

.article-container .article-row:hover,
.article-container .article-row-active {
  background: white;
}

.article-container .article-row:hover .article-title,
.article-container .article-row-active .article-title {
  width: 270px;
}

.article-container .article-row:hover .article-tool,
.article-container .article-row-active .article-tool {
  display: block;
}

.article-items .article-item {
  flex-grow: 1;
}

.article-items .article-item-img {
  width: calc(100% - 56px - 16px);
}

.article-date {
  display: flex;
  align-items: center;
  padding-top: 4px;
  font-size: 10px;
  color: #a7afbc;
  font-weight: 300;
  line-height: 1.6;
}

.article-date span {
  margin-right: 15px;
}

.article-abstract {
  display: -webkit-box;
  flex-grow: 1;
  max-height: 42px;
  font-size: 12px;
  color: #989494;
  line-height: 1.6;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-word;
  overflow: hidden;
  cursor: pointer;
}

.article-items .article-image {
  width: 56px;
  height: 56px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 16px;
  cursor: pointer;
}

.article-items .article-image img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.article-items .article-image>>>.el-image__error {
  font-size: 10px;
  background-color: white;
}

.article-items:hover .article-image>>>.el-image__error {
  background: #F5F7FA;
  color: #C0C4CC;
}

.el-container-note .note-headline {
  height: 40px;
  line-height: 40px;
  color: #353434;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 300;
}

.el-container-note .note-aside {
  height: calc(100% - 100px);
  height: -moz-calc(100% - 100px);
  height: -webkit-calc(100% - 100px);
  overflow-y: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.note-aside .note-list-first {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  cursor: pointer;
  position: relative;
}

.note-aside .note-list-active {
  background: #f6f3f3;
}

.note-aside .note-list-first:hover {
  background: #f6f3f3;
}

.note-aside .note-list-first>span {
  padding-left: 5px;
  font-size: 13px;
  cursor: pointer;
}

.note-aside .note-list-first .icon-menu-nav {
  position: absolute;
  right: 10px;
  top: 1px;
}

.note-aside .note-list-two {
  height: 40px;
  line-height: 40px;
  padding-left: 30px;
  cursor: pointer;
}

.note-aside .note-list-two i {
  color: #448aff;
}

.note-aside .note-list-two:hover {
  color: #448aff;
}

.note-aside .note-list-two span {
  font-size: 12px;
  cursor: pointer;
}

.note-aside .note-list-two input {
  width: 176px;
  border: 1px solid #66b1ff;
  height: 25px;
  line-height: 25px;
  margin-left: 5px;
  padding: 2px 3px;
  font-size: 12px;
  border-radius: 3px;
}

.el-main-content {
  background-color: #fff;
  padding: 0;
  width: 100%;
}

.fullscreen-mode {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.el-main-content .empty-note {
  width: 100%;
  padding-top: 100px;
  height: 450px;
  margin: auto;
}

.el-main-content .empty-note svg {
  width: 250px;
  height: 250px;
  margin: 0px auto;
  display: block;
}

.el-main-content .empty-note p {
  text-align: center;
  font-size: 12px;
  color: #b9b4b4;
}

.el-main-content .loading-note {
  width: 100%;
  padding-top: 250px;
  text-align: center;
  height: 400px;
  margin: auto;
}

.el-main-content .loading-note i {
  font-size: 50px;
  color: rgb(102, 177, 255);
}

.el-main-content .loading-note p {
  text-align: center;
  font-size: 12px;
  color: #b9b4b4;
  margin-top: 20px;
}


/* 文件管理弹出层 */
.note-files-manager {
  width: 300px;
  min-height: 50px;
  max-height: 675px;
  background-color: white;
  overflow-y: auto;
}

.note-files-manager .file-box {
  min-height: 30px;
  border-bottom: 1px solid rgb(239, 233, 233);
  margin-bottom: 8px;
  padding: 5px 0;
}

.note-files-manager .file-box .no-file {
  color: #969292;
  font-size: 12px;
  margin-top: 10px;
}

.note-files-manager .file-box .file-item {
  height: 50px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.note-files-manager .file-box .file-item .file-type {
  width: 50px;
  height: 100%;
  background-color: #ffcc80;
  border-radius: 3px;
  float: left;
  line-height: 50px;
  text-align: center;
  color: white;
}

.note-files-manager .file-box .file-item .file-detail {
  float: left;
  width: 247px;
  height: 100%;
}

.file-item .file-detail .filename {
  padding-left: 5px;
  color: #172b4d;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-item .file-detail .filetool {
  color: #505f79;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
  padding-left: 5px;
  margin-top: 9px;
  position: relative;
}

.file-item .file-detail .filetool-help {
  position: absolute;
  top: -5px;
  right: 5px;
  width: 55px;
  height: 24px;
  text-align: right;
  line-height: 28px;
}

.file-item .file-detail .filetool-help i {
  font-size: 16px;
  cursor: pointer;
  margin-right: 5px;
}

.file-item .file-detail .filetool-help .el-icon-download {
  color: #66b1ff;
}

.file-item .file-detail .filetool-help .el-icon-delete {
  color: red;
}

.note-files-manager input {
  display: none;
}

.note-files-manager .files-manager-footer .upload-tips {
  font-size: 12px;
  color: #ccc;
  text-align: left;
  float: left;
  padding-top: 10px;
}

.note-files-manager .files-manager-footer button {
  float: right;
}


/* 标签管理弹出层 */
.tag-manager .tag-manager-title {
  height: 20px;
  line-height: 20px;
  font-size: 13px;
  color: #ccc;
  border-bottom: 1px solid #f0e9e9;
  padding-bottom: 5px;
  position: relative;
}

.tag-manager .tag-manager-box {
  padding: 8px 8px 8px 0;
}

.tag-manager .tag-manager-box .tag-item {
  background-color: rgba(64, 158, 255, .1);
  display: inline-block;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #409eff;
  box-sizing: border-box;
  white-space: nowrap;
  margin-bottom: 5px;
  margin-right: 3px;
}

.tag-manager .tag-manager-box .tag-item i {
  cursor: pointer;
  margin-left: 5px;
}

.tag-manager .tag-manager-box .tag-item-active {
  color: #9a9191;
}

.tag-manager .tag-manager-box .tag-item i:hover {
  color: red;
}

.tag-manager .tag-manager-box {
  cursor: pointer;
}

.tag-manager .tag-manager-box .el-icon-plus {
  margin-left: 0 !important;
}

.tag-manager .tag-manager-input {
  margin-top: 20px;
  min-height: 30px;
}

.tag-manager .tag-manager-input input {
  width: 200px;
  height: 28px;
  border: 1px solid #66b1ff;
  padding: 0 5px;
  border-radius: 3px;
}

.tag-manager .tag-manager-input input::-webkit-input-placeholder {
  font-size: 13px;
  color: #ccc;
}

.tag-manager .inster-tag {
  height: 33px;
  width: 100%;
  margin-top: 20px;
  line-height: 9px;
  border-radius: 1px;
}

.el-container-note>>>.el-scrollbar__wrap {
  overflow-x: hidden;
}

/* 笔记详细模块 */
#note-header {
  border-bottom: 1px solid #efecec;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
}

#note-header input {
  width: 90%;
  height: 40px;
  margin-top: 8px;
  margin-left: -8px;
  font-size: 18px;
  padding: 3px;
  margin-left: 10px;
}

#note-header input::-webkit-input-placeholder {
  color: rgb(158, 150, 150);
  font-size: 14px;
}

#note-header input::-moz-placeholder {
  color: rgb(158, 150, 150);
  font-size: 14px;
}

#note-detail {
  border-top: none;
  border-bottom: none;
  background: #fff;
  margin: 0px 30px;
  /* box-shadow: 0 0 10px 2px #f4f3f3; */
  box-shadow: 0 8px 16px 0 rgba(7, 17, 27, .05);
  height: 100%;
}

#note-detail .subfield {
  min-height: 60px;
  background: #f7f7fc;
  margin: 10px 10;
  border-radius: 3px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 15px;
}

#note-detail .subfield p>span {
  margin-right: 10px;
}

#note-detail .subfield .larkc-tag {
  background: #ffffff;
  color: #2d2d2d;
}



#note-detail .markdown-body {
  padding: 20px 10px;
  font-size: 14px;
}

#note-detail>>>pre {
  position: relative;
  padding-top: 25px;
}

#note-detail>>>pre .fz-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  min-width: 50px;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #7b7b7b;
  color: #e8dfdf;
  cursor: pointer;
  font-size: 12px;
  font-weight: 100;
  font-family: "Microsoft YaHei";
  opacity: 0;
  visibility: hidden;
  transition: ease 1s;
}

#note-detail>>>pre .lang-name {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #838383;
  font-size: 12px;
}

#note-detail>>>pre:hover .fz-btn {
  opacity: 1;
  visibility: visible;
}

#note-detail>>>pre:hover .lang-name {
  display: none;
}

#note-detail>>>pre code {
  display: block;
  max-width: auto;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
  overflow-x: auto;
  padding-bottom: 10px;
}

#note-detail>>>p code {
  padding: 2px 4px;
  color: #c7254e;
  background-color: #ffe8e8;
  margin: 0 3px;
  white-space: nowrap;
  border-radius: 2px;
}

#note-detail>>>pre code::-webkit-scrollbar {
  height: 3px;
  background-color: #d5cece;
  overflow-x: auto;
  border-radius: 3px;
}

#note-detail>>>pre code::-webkit-scrollbar-thumb {
  height: 3px;
  background-color: #9f9898;
  overflow-x: auto;
  border-radius: 3px;
}

#note-tools {
  border-left: 1px solid rgb(255, 255, 255);
  box-shadow: rgb(246, 245, 245) 0px 0px 6px 0px;
  padding-top: 3px;
  flex-shrink: 0;
  overflow: hidden;
}

#note-tools .item {
  width: 50px;
  height: 50px;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#note-tools .item .i-color {
  color: red;
}

#note-tools .item p {
  font-size: 10px;
  margin-top: 5px;
  transform: scale(.85);
}

#note-tools .item:hover {
  color: #409eff;
}