.no-background {
  background: none !important;
  padding: 0 !important;
}

/* 消息记录容器 */
.record-container {
  margin: 5px;
  min-height: 25px;
  overflow: hidden;
  position: relative;
  padding: 5px;
}

.record-container:last-child {
  margin-bottom: 20px;
}

/* 记录工具栏 */
.record-container .toolbars {
  color: #409eff;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
}

.record-container .toolbars .not-have-msg {
  color: #cec4c4;
  font-size: 13px;
}

/* 系统消息 */
.record-container .message-system {
  text-align: center;
  min-height: 20px;
}

.record-container .message-system span {
  display: inline-block;
  background-color: #f5f5f5;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 11px;
  color: #b9b8b8;
  word-break: break-all;
  word-wrap: break-word;
}

.record-container .message-system .recall {
  padding: 5px;
  display: inline;
}

.record-container .message-system .invite-tips a {
  color: #939596;
  cursor: pointer;
  font-size: 12px;
}

.record-container .message-system .invite-tips a:hover {
  color: black;
}

.record-container .record-box {
  padding-top: 15px;
}

/* 消息时间 */
.record-container .record-time {
  text-align: center;
  color: #ccc9c9;
  font-size: 11px;
  margin-top: 5px;
}

.record-container .record-avatar {
  width: 30px;
  height: 30px;
  background: white;
}

.record-container .record-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
}

.record-container .record-avatar img:active {
  transform: scale(1.1);
}

.record-container .talk-container {
  max-width: calc(100% - 80px);
  min-height: 30px;
  position: relative;
}

.record-container .talk-container .record-time2 {
  position: absolute;
  top: -20px;
  height: 18px;
  width: 90px;
  right: 10px;
  line-height: 18px;
  text-align: right;
  display: none;
}

.record-container .talk-container .record-time2 span {
  font-size: 10px;
  color: #a7a0a0;
  transform: scale(0.5);
}

.record-container .left-record .talk-container .record-time2 {
  left: 9px;
  text-align: left;
}

.record-container:hover .record-time2 {
  display: block;
}

.record-container .talk-container .record-nickname {
  height: 20px;
  font-size: 10px;
  color: #b5b2b2;
  font-weight: 400;
}

.record-container .left-record .talk-container {
  float: left;
  padding-left: 10px;
}

.record-container .right-record .talk-container {
  float: right;
  padding-right: 10px;
}

.record-container .right-record .record-nickname {
  text-align: right;
}

.record-container .talk-content .lumen-arrow {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  border: solid 5px;
  top: 5px;
}

.record-container .left-record .lumen-arrow {
  border-color: rgba(247, 247, 247, 0) #f5f5f5 rgba(247, 247, 247, 0) rgba(247, 247, 247, 0);
  left: -10px;
}

.record-container .right-record .lumen-arrow {
  border-color: rgba(247, 247, 247, 0) rgba(247, 247, 247, 0) rgba(247, 247, 247, 0) #1ebafc;
  right: -10px;
}

.record-container .talk-container .talk-content {
  background: white;
  border-radius: 3px;
  position: relative;
  padding: 5px;
  min-height: 20px;
  min-width: 10px;
}

.record-container .right-record .talk-content {
  background: #1ebafc;
  color: white;
}

.record-container .left-record .talk-content {
  background: #f5f5f5;
  color: #3a3a3a;
}

.record-container .left-record .record-avatar {
  float: left;
}

.record-container .right-record .record-avatar {
  float: right;
}

/* 文本信息消息 */
.talk-content .text-record pre {
  white-space: pre-wrap;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
  font-size: 13px;
  padding: 0 5px 0px 5px;
  font-family: "微软雅黑";
  line-height: 20px;
}

.talk-content .text-record pre a {
  color: #daf3ff !important;
}

/* 图片信息消息 */
.talk-content .images-record {
  position: relative;
  cursor: pointer;
  border-radius: 3px;
}

.talk-content .images-record .image-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 12px;
  color: #908686;
  background: #efeaea;
}

.talk-content .images-record>>>.el-image {
  box-shadow: 0px 0px 7px #f4f0f0;
  border-radius: 3px;
}

.talk-content .images-record .enlarge {
  position: absolute;
  right: 5px;
  bottom: 8px;
  display: none;
}

.talk-content .images-record:hover .enlarge {
  display: block;
  color: white;
}

/* 会话记录消息 */
.talk-content .dialogue-records {
  width: 230px;
  min-height: 95px;
  max-height: 150px;
  border-radius: 3px;
  background-color: white;
  padding: 3px 10px;
  cursor: pointer;
  box-shadow: 0 0 7px 0px #e8e4e4;
}

.talk-content .dialogue-records:hover {
  box-shadow: 0 0 9px 0px #d4cdcd;
}

.talk-content .dialogue-records .records-title {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #565353;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
}

.talk-content .dialogue-records .records-list p {
  height: 18px;
  line-height: 18px;
  font-size: 10px;
  color: #aaa9a9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 100;
}

.talk-content .dialogue-records .records-footer {
  height: 25px;
  line-height: 25px;
  color: #858282;
  border-top: 1px solid #f1ebeb;
  font-size: 12px;
  margin-top: 6px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 文件信息消息 */
.talk-content .file-record {
  width: 300px;
  height: 85px;
  background: white;
  box-shadow: 0 0 7px 0px #e8e4e4;
  padding: 5px;
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  align-content: center;
}

.talk-content .file-record .filetitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 45px;
}

.talk-content .file-record .files-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  color: #ffffff;
  background: #49a4ff;
  border-radius: 3px;
  font-size: 12px;
}

.talk-content .file-record .files-icon i {
  font-size: 46px;
}

.talk-content .file-record .filetitle .info {
  flex: 1 1;
  height: 45px;
  margin-left: 5px;
  overflow: hidden;
}

.talk-content .file-record .filetitle .info p:first-child {
  height: 25px;
  line-height: 25px;
  color: rgb(76, 76, 76);
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.talk-content .file-record .filetitle .info p:nth-child(2) {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #929191;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.talk-content .file-record .filetitle .info .size {
  color: #929191;
  font-size: 12px;
}

.talk-content .file-record .filetools {
  height: 30px;
  background: white;
  text-align: right;
  line-height: 37px;
  color: #409eff;
  font-size: 12px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-top: 1px solid #eff7ef;
  margin-top: 10px;
}

.talk-content .file-record .filetools a {
  margin-right: 15px;
}

/* 代码块信息消息 */
.talk-content .codeblock-record i {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  display: none;
}

.talk-content .codeblock-record:hover i {
  display: block;
}

.talk-content .codeblock-record>>>.prism-editor-wrapper pre::-webkit-scrollbar {
  width: 5px;
  background-color: #272822;
}

.talk-content .codeblock-record>>>.prism-editor-wrapper pre::-webkit-scrollbar-thumb {
  background-color: #41413f;
}

.talk-content .codeblock-record>>>.prism-editor-wrapper {
  border-radius: 3px;
}


/* 多选样式 */
.container-checked {
  border: 1px solid #e4e8ef;
  padding-left: 40px;
  transition: ease .5s;
}

.container-checked:hover {
  border-color: #409eff;
  border-style: dashed;
}

.container-checked .checked-button {
  position: absolute;
  width: 25px;
  height: 25px;
  line-height: 25px;
  top: 15px;
  left: 5px;
  text-align: center;
}

.container-checked .checked-button i {
  color: #cccccc;
  cursor: pointer;
}

.container-checked .checked-button .selected-record {
  color: #409eff !important;
}

.container-checked .left-record .talk-content {
  background: #f6eeee;
}

.container-checked .left-record .lumen-arrow {
  border-color: rgba(247, 247, 247, 0) #f6eeee rgba(247, 247, 247, 0) rgba(247, 247, 247, 0) !important;
}