.no-p-bottom {
  padding-bottom: 0 !important;
}

.no-background {
  background: #f5f5f5 !important;
}

/* 消息记录容器 */
.record-container {
  margin: 15px;
  min-height: 25px;
  overflow: hidden;
  position: relative;
  padding: 5px;
}

.record-container:last-child {
  margin-bottom: 20px;
}


/* 记录工具栏 */
.record-container .toolbars {
  color: #00d7ff;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
}

.record-container .toolbars .not-have-msg {
  color: #cec4c4;
  font-size: 13px;
}


/* 系统消息 */
.record-container .message-system {
  text-align: center;
  min-height: 20px;
}

.record-container .message-system span {
  display: inline-block;
  background-color: rgba(226, 226, 226, 0.8);;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 12px;
  color: #b9b8b8;
  word-break: break-all;
  word-wrap: break-word;
}

.record-container .message-system .recall{
  padding: 5px;display: inline;
}

.record-container .message-system .group-invite-tips a {
  color: #5bb6ff;
  cursor: pointer;
}

.record-container .message-system .group-invite-tips>a:not(:first-child) {
  margin-right: 5px;
}

.record-container .message-system .group-invite-tips a:hover{
  color: white;
}

/* 消息时间 */
.record-container .record-time {
  text-align: center;
  color: #ccc9c9;
  font-size: 12px;
  margin-top: 5px;
}

.record-container .record-avatar {
  width: 30px;
  height: 30px;
  background: white;
}

.record-container .record-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
}


.record-container .talk-container {
  max-width: calc(100% - 80px);
  min-height: 30px;
}

.record-container .talk-container .record-nickname {
  height: 20px;
  font-size: 10px;
  color: #cdcdcd;
}


.record-container .left-record .talk-container {
  float: left;
  padding-left: 10px;
}

.record-container .right-record .talk-container {
  float: right;
  padding-right: 10px;
}

.record-container .right-record .record-nickname {
  text-align: right;
}

.record-container .talk-content .lumen-arrow {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  border: solid 5px;
  top: 5px;
}

.record-container .left-record .lumen-arrow {
  border-color: rgba(247, 247, 247, 0) #ffffff rgba(247, 247, 247, 0) rgba(247, 247, 247, 0);
  left: -10px;
}

.record-container .right-record .lumen-arrow {
  border-color: rgba(247, 247, 247, 0) rgba(247, 247, 247, 0) rgba(247, 247, 247, 0) #1ebafc;
  right: -10px;
}


.record-container .talk-container .talk-content {
  background: white;
  border-radius: 6px;
  position: relative;
  padding: 5px;
  min-height: 20px;
}


.record-container .right-record .talk-content {
  background: #1ebafc;
  color: white;
}

.record-container .left-record .talk-content {
  background: #ffffff;
  color: #3a3a3a;
}

.record-container .left-record .record-avatar {
  float: left;
}

.record-container .right-record .record-avatar {
  float: right;
}



/* 文本信息消息 */
.talk-content .text-record pre {
  white-space: pre-wrap;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
  font-size: 13px;
  padding: 0 5px 0px 5px;
  font-family: "微软雅黑";
  line-height: 20px;
}

.talk-content .text-record pre a {
  color: #daf3ff !important;
}


/* 图片信息消息 */
.talk-content .images-record {
  position: relative;
  cursor: pointer;
  border-radius: 3px;
}

.talk-content .images-record .image-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #d6d6d6;
  color: #909399;
  font-size: 14px;
}

.talk-content .images-record .image-slot i {
  font-size: 22px;
}

.talk-content .images-record>>>.el-image img {
  max-width: 200px;
  min-width: 20px;
  border-radius: 3px !important;
}

.talk-content .images-record>>>.el-image-viewer__wrapper {
  z-index: 999999999999 !important;
}

.talk-content .images-record .enlarge{
  position: absolute;right: 5px;bottom: 8px;
  display: none;
}

.talk-content .images-record:hover .enlarge{
  display: block;
  color: white;
}


/* 会话记录消息 */
.talk-content .dialogue-records {
  width: 230px;
  min-height: 95px;
  max-height: 150px;
  border-radius: 5px;
  background-color: white;
  padding: 3px 10px;
  cursor: pointer;
  box-shadow: 0 0 9px 0px #eae2e2;
}

.talk-content .dialogue-records:hover {
  box-shadow: 0 0 9px 0px #d4cdcd;
}

.talk-content .dialogue-records .records-title {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #565353;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
}

.talk-content .dialogue-records .records-list p {
  height: 18px;
  line-height: 18px;
  font-size: 10px;
  color: #aaa9a9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 100;
}

.talk-content .dialogue-records .records-footer {
  height: 25px;
  line-height: 25px;
  color: #858282;
  border-top: 1px dashed #bfbfbf;
  font-size: 12px;
  margin-top: 6px;
  font-weight: 300;
}


/* 文件信息消息 */
.talk-content .file-record {
  width: 300px;
  height: 85px;
  background: white;
  box-shadow: 0 0 7px 0px #e8e4e4;
}

.talk-content .file-record .lumen-files-icon {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
  background: #49a4ff;
  margin-left: 3px;
  float: left;
  border-radius: 2px;
  font-size: 12px;
}

.talk-content .file-record .lumen-files-icon i {
  font-size: 46px;
}

.talk-content .file-record .filetitle {
  height: 50px;
  border-bottom: 1px solid #eff7ef;
  padding-top: 5px;
}

.talk-content .file-record .filetitle .info {
  width: 245px;
  height: 45px;
  float: left;
}

.talk-content .file-record .filetitle .info p:first-child {
  height: 25px;
  line-height: 25px;
  padding-left: 5px;
  color: rgb(76, 76, 76);
  font-size: 14px;
}

.talk-content .file-record .filetitle .info p:nth-child(2) {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  padding-left: 5px;
  color: #929191;
}

.talk-content .file-record .filetitle .info .size {
  color: #929191;
  font-size: 12px;
}

.talk-content .file-record .filetools {
  height: 30px;
  background: white;
  text-align: right;
  padding-right: 5px;
  line-height: 30px;
  color: #00d7ff;
  font-size: 12px;
  cursor: pointer;
}

.talk-content .file-record .filetools a {
  margin-right: 15px;
}


/* 代码块信息消息 */
.talk-content .codeblock-record i {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  display: none;
}

.talk-content .codeblock-record:hover i {
  display: block;
}

.talk-content .codeblock-record>>>.prism-editor-wrapper pre::-webkit-scrollbar {
  width: 5px;
  background-color: #272822;
}

.talk-content .codeblock-record>>>.prism-editor-wrapper pre::-webkit-scrollbar-thumb {
  background-color: #41413f;
}

.talk-content .codeblock-record>>>.prism-editor-wrapper {
  border-radius: 3px;
}


/* 多选样式 */
.container-checked {
  background: white;
  padding-left: 50px;
}

.container-checked .checked-button {
  position: absolute;
  width: 25px;
  height: 25px;
  line-height: 25px;
  top: 5px;
  left: 5px;
  text-align: center;
}

.container-checked .checked-button i {
  color: #cccccc;
  cursor: pointer;
}

.container-checked .checked-button .selected-record {
  color: #409eff !important;
}

.container-checked .left-record .talk-content {
  background: #f6eeee;
}

.container-checked .left-record .lumen-arrow {
  border-color: rgba(247, 247, 247, 0) #f6eeee rgba(247, 247, 247, 0) rgba(247, 247, 247, 0) !important;
}
