.paddingt2 {
  padding-top: 5px !important;
}

.talk-container {
  display: flex;
  min-height: 30px;
  flex-direction: row;
  margin: 5px;
  flex: 1;
  padding-top: 20px;
  padding-bottom: 5px;
  overflow: hidden;
}

.talk-container .avatar-column {
  width: 50px;
  flex-basis: 50px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  order: 2;
  user-select: none;
}

.talk-container .avatar-column .avatar {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
}

.talk-container .avatar-column .avatar:active {
  transform: scale(1.05);
}

.talk-container .checkbox-column {
  width: 40px;
  flex-basis: 40px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  order: 1;
  display: none;
}

.talk-container .checkbox-column i {
  color: #ccc;
  cursor: pointer;
  font-size: 22px;
  margin-top: 4px;
}

.talk-container .checkbox-column i:active {
  transform: scale(1.1);
}

.talk-container .checkbox-column .selected {
  color: #409eff !important;
}

.talk-container .content-column {
  flex: 1 1;
  order: 2;
  position: relative;
}

.direction-rt .avatar-column {
  order: 3 !important;
}

.direction-rt .content-column {
  order: 2 !important;
}

.talk-container .content-column .talktime {
  position: absolute;
  top: -18px;
  left: -4px;
  font-size: 10px;
  user-select: none;
  opacity: 0;
  transition: ease .5s;
  color: #a7a0a0;
  transform: scale(0.9);
}

.direction-rt .content-column .talktime {
  left: unset;
  right: -4px;
}

.talk-container:hover .content-column .talktime,
.talk-container:hover .content-column .subtitle .talktime2 {
  opacity: 1;
}


.talk-container .content-column .subtitle {
  height: 15px;
  line-height: 10px;
  font-size: 10px;
  color: #a7a0a0;
}


.talk-container .content-column .talktime2 {
  color: #a7a0a0;
  opacity: 0;
  transition: ease .5s;
}

.talk-container .content-column .talkbox {
  min-height: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.direction-rt .content-column .talkbox {
  justify-content: flex-end;
}

.talk-container .content-column .talkbox .arrow {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  border: 5px solid;
  top: 5px;
  left: -10px;
  border-color: hsla(0, 0%, 96.9%, 0) #f5f5f5 hsla(0, 0%, 96.9%, 0) hsla(0, 0%, 96.9%, 0);
}

.direction-rt .content-column .talkbox .arrow {
  right: -10px;
  left: unset;
  border-color: hsla(0, 0%, 96.9%, 0) hsla(0, 0%, 96.9%, 0) hsla(0, 0%, 96.9%, 0) #1ebafc;
}

/* 聊天消息 */
.talk-container .content-column .talkbox .text-msg {
  min-width: 30px;
  max-width: calc(100% - 50px);
  min-height: 30px;
  background: #f5f5f5;
  color: #3a3a3a;
  border-radius: 3px;
}

.talk-container .content-column .talkbox .text-msg pre {
  white-space: pre-wrap;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
  font-size: 13px;
  padding: 0 5px 0px 5px;
  font-family: "Microsoft YaHei";
  line-height: 25px;
  padding-top: 2px;
}

.direction-rt .content-column .talkbox .text-msg {
  background: #1ebafc;
  color: #fff;
}

/* 图片消息 */
.talk-container .content-column .talkbox .image-msg {
  min-width: 30px;
  max-width: 200px;
  min-height: 30px;
}

.talk-container .content-column .talkbox .image-msg .image-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 12px;
  color: #908686;
  background: #efeaea;
}

.talk-container .content-column .talkbox .image-msg>>>.el-image {
  box-shadow: 0px 0px 7px #f4f0f0;
  border-radius: 3px;
}


/* 文件消息 */
.talk-container .content-column .talkbox .file-msg {
  width: 270px;
  height: 85px;
  background: white;
  box-shadow: 0 0 5px 0px #e8e4e4;
  padding: 5px;
  border-radius: 3px;
}

.talk-container .content-column .talkbox .file-msg:hover,
.talk-container .content-column .talkbox .records-msg:hover {
  box-shadow: 0 0 5px 0px #cfbdbd;
}

.talkbox .file-msg header {
  height: 45px;
  display: flex;
  flex-direction: row;
}

.talkbox .file-msg header .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  color: #ffffff;
  background: #49a4ff;
  border-radius: 3px;
  font-size: 12px;
}

.talkbox .file-msg header .info {
  flex: 1 1;
  height: 45px;
  margin-left: 5px;
  overflow: hidden;
}

.talkbox .file-msg header .info p {
  text-align: left;
}

.talkbox .file-msg header .info p:first-child {
  height: 24px;
  line-height: 24px;
  color: rgb(76, 76, 76);
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.talkbox .file-msg header .info p:nth-child(2) {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #929191;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.talkbox .file-msg footer {
  height: 30px;
  background: white;
  text-align: right;
  line-height: 37px;
  color: #409eff;
  font-size: 12px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-top: 1px solid #eff7ef;
  margin-top: 10px;
}

.talkbox .file-msg footer a {
  margin: 0 3px;
  user-select: none;
}

.talkbox .file-msg footer a:hover {
  color: royalblue;
}

/* 音频消息 */

/* 视频消息 */

/* 会话记录消息 */
.talk-container .content-column .talkbox .records-msg {
  width: 250px;
  min-height: 95px;
  max-height: 150px;
  border-radius: 3px;
  background-color: white;
  padding: 3px 10px;
  cursor: pointer;
  box-shadow: 0 0 5px 0px #e8e4e4;
  text-align: left;
  user-select: none;
}

.talkbox .records-msg .title {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #565353;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
}

.talkbox .records-msg .lists p {
  height: 18px;
  line-height: 18px;
  font-size: 10px;
  color: #aaa9a9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 100;
}

.talkbox .records-msg .footer {
  height: 25px;
  line-height: 25px;
  color: #858282;
  border-top: 1px solid #f1ebeb;
  font-size: 12px;
  margin-top: 6px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.talkbox .code-msg {
  min-width: 10px;
  border-radius: 3px;
  position: relative;
  overflow-x: auto;
  max-width: calc(100% - 50px);
  display: inline-grid;
}

.talkbox .code-msg pre {
  padding: 10px;
  line-height: 24px;
  overflow-x: auto;
  background: #272822;
  color: #fff;
  font-family: "Microsoft YaHei";
}

.talkbox .code-msg i {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  display: inline-block;
  opacity: 0;
  width: 50px;
  height: 30px;
  background: #171616;
  text-align: center;
  line-height: 30px;
  border-radius: 0 0 0px 3px;
  transition: ease .5;
}

.talkbox .code-msg:hover i {
  opacity: 1;
}

/* 系统消息 */
.talk-container .system-msg {
  margin: 0 auto;
  background-color: #f5f5f5;
  font-size: 11px;
  line-height: 30px;
  padding: 0 8px;
  word-break: break-all;
  word-wrap: break-word;
  color: #979191;
  user-select: none;
  font-weight: 300;
}

.talk-container .system-msg a {
  color: #939596;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
}

.talk-container .system-msg a:hover {
  color: black;
}

.talk-container .invite-tip {
  text-align: center;
  line-height: 20px;
  padding-top: 5px;
}

.talk-container .talk-time {
  margin: 0 auto;
  color: #ccc9c9;
  font-size: 12px;
  user-select: none;
}

/* ---------- */

.open-checkbox {
  border: 1px solid #e4e8ef;
  transition: ease .5s;
}

.open-checkbox:hover {
  border-color: #409eff;
  border-style: dashed;
}

.open-checkbox .checkbox-column {
  display: block;
  text-align: center;
}

.talk-container .toolbars {
  color: #409eff;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  margin: 0 auto;
}

.talk-container .toolbars .not-have-msg {
  color: #cec4c4;
  font-size: 13px;
}
