.message-group {
  min-height: 30px;
  display: flex;
  margin-bottom: 5px;
  flex-direction: row;
  padding: 3px 12px 3px 0;
}

.message-group .left-box {
  width: 50px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  user-select: none;
}

.message-group .left-box img {
  height: 30px;
  width: 30px;
  border-radius: 3px;
  cursor: pointer;
}

.message-group .right-box {
  flex: auto;
  padding-bottom: 15px;
  border-bottom: 1px dashed #ddd8d8;
}

.message-group .right-box .msg-header {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #a09a9a;
  position: relative;
}

.message-group .right-box .msg-header .name {
  color: #333;
}

/* 文本消息 */
.message-group .right-box .msg-text .pre {
  background: #f5f5f5;
  white-space: pre-wrap;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
  font-size: 13px;
  padding: 5px;
  font-family: "微软雅黑";
  line-height: 20px;
  border-radius: 2px;
}



/* 图片消息 */
.message-group .right-box .msg-image img {
  max-width: 120px !important;
  min-width: 20px !important;
  border: 1px solid white;
  cursor: pointer;
}

.message-group .right-box .msg-image .el-image {
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0px 0px 7px #f4f0f0;
}

.message-group .right-box .msg-image>>>.image-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* background: #f5f5f5; */
  background: #ffffff;
  color: #cccccc;
  font-size: 12px;
  font-weight: 100;
}



/* 文件消息 */
.message-group .right-box .msg-file {
  width: 290px;
  height: 50px;
  display: flex;
  padding: 5px;
  background: white;
  box-shadow: 1px 1px 4px #f4f0f0;
}

.message-group .right-box .msg-file .file-icon {
  width: 50px;
  height: 50px;
  background: #49a4ff;
  line-height: 50px;
  text-align: center;
  color: white;
  font-size: 12px;
  border-radius: 3px;
  user-select: none;
  transform: scale(.8);
}

.message-group .right-box .msg-file .file-info {
  width: 200px;
}

.message-group .right-box .msg-file .file-info p {
  padding-left: 5px;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
}

.message-group .right-box .msg-file .file-info p:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #1e8be2;
}

.message-group .right-box .msg-file .file-info p:last-child {
  color: #9a9393;
  font-size: 12px;
  font-weight: 200;
}

.message-group .right-box .msg-file .file-tool {
  width: 30px;
  position: relative;
}

.message-group .right-box .msg-file .file-tool i {
  position: absolute;
  top: 16px;
  left: 12px;
  cursor: pointer;
  font-size: 22px;
  color: #2196f3;
}


/* 会话记录消息 */
.message-group .msg-records {
  width: 230px;
  min-height: 95px;
  max-height: 150px;
  border-radius: 5px;
  background-color: white;
  padding: 3px 10px;
  cursor: pointer;
  box-shadow: 0 0 5px 0px #e8e0e0;
  user-select: none;
}

.message-group .msg-records:hover {
  box-shadow: 0 0 5px 0px #97c3f1;
}

.message-group .msg-records .records-title {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #565353;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
}

.message-group .msg-records .records-list p {
  height: 18px;
  line-height: 18px;
  font-size: 10px;
  color: #aaa9a9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 100;
}

.message-group .msg-records .records-footer {
  height: 25px;
  line-height: 25px;
  color: #858282;
  border-top: 1px dashed #bfbfbf;
  font-size: 12px;
  margin-top: 6px;
  font-weight: 300;
}