.pd-t5 {
  padding-top: 5px !important;
}

@left-arrow-color: #e5f6fb;

.talk-container {
  display: flex;
  min-height: 30px;
  flex-direction: row;
  margin: 5px;
  flex: 1;
  padding-top: 20px;
  padding-bottom: 5px;
  overflow: hidden;

  .avatar-column {
    width: 50px;
    flex-basis: 50px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    order: 2;
    user-select: none;

    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;

      &:active {
        transform: scale(1.05);
      }
    }
  }

  .checkbox-column {
    width: 40px;
    flex-basis: 40px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    order: 1;
    display: none;

    i {
      color: #ccc;
      cursor: pointer;
      font-size: 22px;
      margin-top: 4px;

      &:active {
        transform: scale(1.1);
      }
    }

    .selected {
      color: #409eff !important;
    }
  }

  .content-column {
    flex: 1 1;
    order: 2;
    position: relative;

    .talktime {
      position: absolute;
      top: -18px;
      left: -4px;
      font-size: 10px;
      user-select: none;
      opacity: 0;
      transition: ease .5s;
      color: #a7a0a0;
      transform: scale(0.9);
    }

    .subtitle {
      height: 15px;
      line-height: 10px;
      font-size: 10px;
      color: #a7a0a0;
    }

    .talktime2 {
      color: #a7a0a0;
      opacity: 0;
      transition: ease .5s;
      margin-left: 5px;
    }

    .talkbox {
      min-height: 30px;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;

      .arrow {
        position: absolute;
        width: 0;
        height: 0;
        font-size: 0;
        border: 5px solid;
        top: 5px;
        left: -10px;
        border-color: hsla(0, 0%, 96.9%, 0) @left-arrow-color hsla(0, 0%, 96.9%, 0) hsla(0, 0%, 96.9%, 0);
      }
    }
  }

  .toolbars {
    color: #409eff;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    margin: 0 auto;

    .not-have-msg {
      color: #cec4c4;
      font-size: 13px;
    }
  }

  &:hover {

    .content-column .talktime,
    .content-column .subtitle .talktime2 {
      opacity: 1;
    }
  }
}

.direction-rt {
  .avatar-column {
    order: 3 !important;
  }

  .content-column {
    order: 2 !important;

    .talktime {
      left: unset;
      right: -4px;
    }

    .talkbox {
      justify-content: flex-end;

      .arrow {
        right: -10px;
        left: unset;
        border-color: hsla(0, 0%, 96.9%, 0) hsla(0, 0%, 96.9%, 0) hsla(0, 0%, 96.9%, 0) #1ebafc;
      }
    }
  }
}

/* 系统消息 */
.talk-container .unknown-msg {
  background: #FF9800;
  display: flex;
  align-items: center;
  padding: 0 5px;
  border-radius: 5px;
  color: white;
}

.talk-container .system-msg {
  margin: 0 auto;
  background-color: #f5f5f5;
  font-size: 11px;
  line-height: 30px;
  padding: 0 8px;
  word-break: break-all;
  word-wrap: break-word;
  color: #979191;
  user-select: none;
  font-weight: 300;

  span {
    margin: 0 5px;
  }

  a {
    color: #939596;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;

    &:hover {
      color: black;
    }
  }
}

.talk-container {
  .invite-tip {
    text-align: center;
    line-height: 20px;
    padding-top: 5px;
  }

  .talk-time {
    margin: 0 auto;
    color: #ccc9c9;
    font-size: 12px;
    user-select: none;
  }
}

.open-checkbox {
  border: 1px solid #e4e8ef;
  transition: ease .5s;

  &:hover {
    border-color: #409eff;
    border-style: dashed;
  }

  .checkbox-column {
    display: block;
    text-align: center;
  }
}