/* @import './panel-record'; */

/* 面板头部 */
.panel-header {
  height: 60px;
  line-height: 60px;
  position: relative;
  background-color: white;
  border-bottom: 1px solid rgb(245, 245, 245);
}

.panel-header .title {
  width: 250px;
  height: 30px;
  line-height: 30px;
  margin-top: 15px;
  margin-left: 10px;
  position: relative;
}

.panel-header .title .badge {
  display: inline-block;
  background: rgb(81 139 254);
  height: 18px;
  line-height: 18px;
  padding: 1px 3px;
  font-size: 10px;
  color: white;
  position: absolute;
  top: 5px;
  border-radius: 3px;
}

.panel-header .title .badge-friend {
  background: #f97348;
}

.panel-header .title .name {
  display: inline-block;
  position: absolute;
  left: 25px;
}

.panel-header .title .name .num {
  color: rgb(150, 142, 142);
  font-weight: 300;
  margin-left: 5px;
}

.panel-header .online {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 60px;
  margin: auto;
}

.panel-header .online .badge {
  height: 40px;
  line-height: 60px;
  text-align: center;
  color: #cccccc;
  font-weight: 200;
}

.panel-header .online .yes-badge {
  color: #1890ff;
}


.panel-header .online .badge-status-dot {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  border-radius: 50%;
}

.panel-header .online .badge-status-processing {
  position: relative;
  background-color: #1890ff;
  margin-right: 5px;
}

.panel-header .online .badge-status-processing:after {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
  border: 1px solid #1890ff;
  border-radius: 50%;
  -webkit-animation: antStatusProcessing 1.2s ease-in-out infinite;
  animation: antStatusProcessing 1.2s ease-in-out infinite;
  content: ""
}

.panel-header .online .input {
  height: 20px;
  line-height: 18px;
  text-align: center;
  font-size: 10px;
  animation: inputfade 600ms infinite;
  -webkit-animation: inputfade 600ms infinite;
}

.panel-header .means {
  position: absolute;
  width: 100px;
  height: 60px;
  line-height: 60px;
  right: 0;
  top: 0;
  text-align: right;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.panel-header .means p {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 3px;
  font-size: 20px;
  color: #828f95;
}

.panel-header .means p:active i {
  font-size: 26px;
  transform: scale(1.3);
  transition: ease .5s;
}


/* 面板主体 */


/* 面板页脚 */
.panel-footer {
  height: 160px !important;
}



/* 多选记录框 */
.multi-select {
  height: 110px;
  text-align: center;
  position: relative;
  padding-top: 50px;
  border-top: 1px solid rgb(245, 245, 245);
}

.multi-select .multi-title {
  position: absolute;
  top: 15px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  color: #878484;
  font-weight: 300;
  font-size: 14px;
  width: 150px;
}

.multi-btn-group {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-right: 15px;
}

.multi-icon {
  width: 45px;
  height: 45px;
  line-height: 45px;
  background-color: #f5f5f5;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 auto;
  cursor: pointer;
}

.multi-icon:hover {
  background-color: #ccc;
}

.multi-btn-group p {
  font-size: 12px;
  margin-top: 8px;
  cursor: pointer;
}


/* 侧边栏css */
.sidebar-box {
  position: absolute;
  width: 350px;
  height: 100%;
  top: 0px;
  right: -350px;
  background: white;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  z-index: 2;
}

.sidebar-box-show {
  right: 0;
  box-shadow: 0 0 14px #cccccc70;
}

.tips-board {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 170px;
  height: 30px;
  width: 100px;
  z-index: 0;
  border-radius: 21px;
  font-size: 12px;
  background-color: #fff;
  box-shadow: 0 2.5px 10px 0 rgba(31, 35, 41, .1);
  color: #1f2329;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tips-board span {
  margin-left: 5px;
  margin-top: -2px;
}

/* css 动画 */
@keyframes inputfade {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes inputfade {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}



@-webkit-keyframes antStatusProcessing {
  0% {
    -webkit-transform: scale(.8);
    transform: scale(.8);
    opacity: .5
  }

  to {
    -webkit-transform: scale(2.4);
    transform: scale(2.4);
    opacity: 0
  }
}

@keyframes antStatusProcessing {
  0% {
    -webkit-transform: scale(.8);
    transform: scale(.8);
    opacity: .5
  }

  to {
    -webkit-transform: scale(2.4);
    transform: scale(2.4);
    opacity: 0
  }
}
