// 默认主题
html {
  --im-primary-color: #1890ff;
  --im-bg-color: #ffffff;
  --line-border-color: #f5f5f5;
  --border-color: #eeeaea;
  --im-text-color: #333;
  --im-text-color-grey: #333;
  --im-active-bg-color: #f5f5f5;
  --im-hover-bg-color: #f5f5f5;

  --im-broadside-box-shadow: rgba(29, 35, 41, 0.05);

  // note
  --im-note-list-bg-color: #f4f6f9;

  // 滚动条
  --im-scrollbar: #e4e4e5;
  --im-scrollbar-thumb: #c0bebc;

  // message
  --im-message-bg-color: #f7f7f7;
  --im-message-border-color: #efeff5;
  --im-message-left-bg-color: #eff0f1;
  --im-message-left-text-color: #333;
  --im-message-right-bg-color: #daf3fd;
  --im-message-right-text-color: #333;
}

// 黑色主题
html[theme-mode='dark'] {
  --im-primary-color: #1890ff;
  --im-bg-color: #202124;
  --line-border-color: rgb(255 255 255 / 9%);
  --border-color: rgb(255 255 255 / 9%);
  --im-text-color: rgb(255 255 255 / 82%);
  --im-text-color-grey: color: rgb(255 255 255 / 52%);
  --im-active-bg-color: #2c2c32;
  --im-hover-bg-color: #2c2c32;

  --im-broadside-box-shadow: #201b1b;

  // note
  --im-note-list-bg-color: #2c2c32;

  // 滚动条
  --im-scrollbar: #e4e4e5;
  --im-scrollbar-thumb: #625f5f;

  // message
  --im-message-bg-color: #28282c;
  --im-message-border-color: rgb(255 255 255 / 9%);
  --im-message-left-bg-color: #2c2c31;
  --im-message-left-text-color: var(--im-text-color);
  --im-message-right-bg-color: #2f2f38;
  --im-message-right-bg-color: #35353f;
  --im-message-right-text-color: var(--im-text-color);

  ::selection {
    background: #d3d3d3;
    color: #555;
  }
  ::-moz-selection {
    background: #d3d3d3;
    color: #555;
  }
  ::-webkit-selection {
    background: #d3d3d3;
    color: #555;
  }
}

body {
  background-color: var(--im-bg-color);
}
