#app {
  position: relative;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  background: url('//res.wx.qq.com/a/wx_fed/webwx/res/static/img/2zrdI1g.jpg') no-repeat !important;
  overflow: hidden;
  background-size: 100% 100%;
}

.main {
  max-width: 1000px;
  min-width: 800px;
  height: 770px;
  margin: auto;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  overflow: hidden;
}

/* 滚动条的整体样式 */
.listWebkit::-webkit-scrollbar {
  width: 7px;
  background-color: #E4E4E5;
}

/* 滚动条上面的小滑块 */
.listWebkit::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #C0BEBC;
}



/* 滚动条的整体样式 */
.rightWebkit::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

/* 滚动条上面的小滑块 */
.rightWebkit::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #D2D2D2;
}

#Left {
  position: relative;
  width: 62px;
  height: 100%;
  float: left;
  background: #ece9e8;
}

#Left .wx-left {
  width: 100%;
  height: 100%;
  background-color: #2e3238;
  float: left;
  position: relative;
}

.wx-left .switch>li {
  margin-top: 25px;
  text-align: center;
}

.wx-left ul>li:nth-child(1) {
  margin-top: 0;
}

.wx-left ul>li i {
  color: #fff;
  text-align: center;
  font-size: 26px;
  cursor: pointer;
}

.wx-left ul>li .img {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-top: 20px;
}

.wx-right {
  width: 248px;
  height: 100%;
  float: left;
  background-color: #E4E4E5;
}

.search {
  position: relative;
  height: 70px;
}

.wx-right .search>input {
  width: 70%;
  line-height: 27px;
  font-size: 12px;
  border-radius: 5px;
  padding-left: 24px;
  background-color: #dcd9d8;
  position: absolute;
  top: 26px;
  left: 10px;
}

.wx-right .search>.sousuo {
  position: absolute;
  top: 30.5px;
  left: 15px;
  color: #858484;
  z-index: 55;
}

.wx-right .search>.jiahao {
  width: 27px;
  line-height: 27px;
  text-align: center;
  position: absolute;
  right: 8px;
  top: 26px;
  border-radius: 3px;
  color: #858484;
  background-color: #dcd9d8;
}

.wx-right .nav-left {
  width: 100%;
  height: 91%;
  overflow-y: scroll;
}

.wx-right main>.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.wx-right main>.box-fired {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.wx-right main>.content .list {
  padding: 12px 0;
  cursor: pointer;
}

.wx-right main>.content .list:hover {
  background-color: #DDDBDB;
}

.wx-right main>.content .list::after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

.wx-right main>.content .list img {
  width: 50px;
  height: 50px;
  float: left;
  border-radius: 3px;
  margin-left: 15px;
}

.wx-right main>.content .list .list-right {
  width: 150px;
  float: left;
  margin-left: 11px;
}

.wx-right .content .list-right .name {
  line-height: 24px;
}

.wx-right .content .list-right .time {
  font-size: 13px;
  float: right;
  color: #a1a1a1;
}

.wx-right .content .list-right .chat {
  width: 80%;
  font-size: 13px;
  color: #a1a1a1;
  white-space: nowrap;
  /*规定段落中的文本不进行换行*/
  overflow: hidden;
  /*内容会被修剪，并且其余内容是不可见的。*/
  text-overflow: ellipsis;
  /*显示省略号来代表被修剪的文本*/
  margin-top: 6px;
}

.content .van-cell {
  background-color: #ece9e8;
}

.cellHeader {
  color: #323233;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
}

.cellTab {
  width: 100%;
  line-height: 40px;
  margin: 10px 0;
}

.cellTab img {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 3px;
}

.cellTab span {
  margin-left: 10px;
}


/* 右侧css */

.Right {
  width: 938px;
  height: 100%;
  background-color: #f5f5f5;
  float: left;
  border-radius: 0 5px 5px 0;
  position: relative;
}

.friendName {
  width: 100%;
  height: 69px;
  border-bottom: 1px solid #e7e7e7;
}

.friendName>span {
  line-height: 70px;
  margin-left: 35px;
  font-size: 19px;
}

.Right .box-right {
  width: 100%;
  height: 530px;
  overflow-y: scroll;
}

.Right .box-right .wx-main {
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
}

.Right .box-right .left {
  max-width: 70%;
  min-height: 40px;
  margin-top: 20px;
  float: left;
}

.Right .box-right .left>img {
  width: 40px;
  height: 40px;
  float: left;
}

.Right footer {
  width: 100%;
  height: 207px;
  border-top: 1px solid #e7e7e7;
  border-radius: 0 0 5px 0;
  background-color: #fff;
}


#message-edit {
  padding-left: 10px;
  height: 169px;
  width: calc(100% - 10px);
}


#edit-toolbar{
  width: calc(100% - 10px);
  height: 45px;
  line-height: 45px;
}

#edit-toolbar li{
  float: left;
  margin-right: 15px;
}

#edit-toolbar li i{
  font-size: 20px;
  cursor: pointer;
}




#message-edit textarea{
  width: calc(100% - 10px);
  height: 115px;
  resize: none;
  font-size: 15px;
  overflow-y: auto;
}

#message-edit textarea::-webkit-scrollbar {/*滚动条整体样式*/
  width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

#message-edit textarea::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  background:#d5cfcf;
}

#message-edit textarea::-webkit-scrollbar-track {/*滚动条里面轨道*/
  background: #EDEDED;
}

.left .send,
.right .send {
  max-width: 300px;
  min-height: 40px;
  border-radius: 3px;
  position: relative;
  font-size: 14px;
  padding: 10px;
  line-height: 22px;
}

main .left>.leftSend {
  float: left;
  background-color: #fff;
  margin-left: 20px;
}

main .right>.rightSend {
  float: right;
  background-color: #9eea6a;
  margin-right: 20px;
}

.leftSend .arrow,
.rightSend .arrow {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  border: solid 8px;

  top: 5px;
}

.left .leftSend>.leftArrow {
  border-color: #f5f5f5 #fff #f5f5f5 #f5f5f5;
  left: -16px;
  /* 圆角的位置需要细心调试哦 */
}

.right .rightSend>.rightArrow {
  border-color: #f5f5f5 #f5f5f5 #f5f5f5 #9eea6a;
  right: -16px;
  /* 圆角的位置需要细心调试哦 */
}

.Right .wx-main .rigth {
  float: right;
}

.clear {
  clear: both;
}

.wx-main .right {
  max-width: 70%;
  min-height: 40px;
  margin-top: 20px;
  float: right;
}

.wx-main .right>img {
  width: 40px;
  height: 40px;
  float: right;
}

.wx-main div:nth-child(1) {
  margin-top: 0px !important;
}

.weixinLogo {
  text-align: center;
  line-height: 770px;
  font-size: 100px;
  color: #EBEBEB;
}


.closeLogin {
  color: #fff;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
}

.nav-right {
  width: 690px;
  float: left;
}

#Left .setUp {
  width: 100px;
  position: absolute;
  bottom: 60px;
  left: 17px;
  z-index: 66;
  background-color: #fff;
  border-radius: 5px;
}

.setUp li {
  line-height: 35px;
  text-align: center;
  font-size: 13px;
  border-bottom: 1px solid #EDEDED;
  cursor: pointer;
}

.setUp li:last-child {
  border-bottom: none;
}

.boxFixed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 70;
}

.popupFixed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
  width: 450px;
  height: 350px;
  margin: auto;
  opacity: 1;
}

.popupFixed .header {
  line-height: 40px;
  border: 1px solid #EDEDEE;
  text-align: center;
  font-size: 14px;
  position: relative;
}

.popupFixed .header>icon {
  position: absolute;
  right: 10px;
  font-size: 26px;
  color: #999;
}
