.dialogue-panel-body {
  max-width: 1000px;
  min-width: 800px;
  height: 770px;
  box-shadow: -3px -1px 20px #9a9a9a;
  background-color: black;

  margin: auto auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.search input {
  background-color: #fff;
}

.search input:focus {
  background-color: #ffffff !important;
}

.search .jiahao:active {
  color: #fff4f4 !important;
}

.clear {
  clear: both;
}


.listWebkit::-webkit-scrollbar {
  width: 4px;
  background-color: #E4E4E5;
}

.listWebkit::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #C0BEBC;
}


.rightWebkit::-webkit-scrollbar,
.applyList::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}


.rightWebkit::-webkit-scrollbar-thumb,
.applyList::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #D2D2D2;
}


#layout-left-box {
  position: relative;
  width: 62px;
  height: 100%;
  float: left;
  background: #ece9e8;
}

/* 右侧css */

.layout-right-box {
  width: calc(100% - 62px) !important;
  height: 100%;
  background-color: #f5f5f5;
  float: left;
  position: relative;
}


#layout-left-box .layout-nav-menu {
  width: 100%;
  height: 100%;
  background-color: #2e3238;
  float: left;
  position: relative;
}


.layout-nav-menu li {
  margin-top: 25px;
  text-align: center;
}

.layout-nav-menu li:nth-child(1) {
  margin-top: 0;
}

.layout-nav-menu li i {
  color: #fff;
  text-align: center;
  font-size: 26px;
  cursor: pointer;
  position: relative !important;
}

.layout-nav-menu li i .i-hotspot {
  width: 5px;
  height: 5px;
  background: #ff1e1e;
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  left: 26px;
  top: 0px;
}

.layout-nav-menu li .img {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 50%;
}

.layout-nav-menu .activeModuleClass i {
  color: #416641 !important;
}

.wx-right {
  width: 248px;
  height: 100%;
  float: left;
  background-color: #E4E4E5;
}

.search {
  position: relative;
  height: 70px;
  background: #e8e8e8;
}

.wx-right .search>input {
  width: 150px;
  height: 27px;
  line-height: 27px;
  font-size: 12px;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 24px;
  background-color: #dcd9d8;
  position: absolute;
  top: 26px;
  left: 10px;
}

.wx-right .search>.sousuo {
  position: absolute;
  top: 30.5px;
  left: 15px;
  color: #858484;
  z-index: 55;
}

.wx-right .search>.jiahao {
  width: 27px;
  line-height: 27px;
  text-align: center;
  position: absolute;
  right: 8px;
  top: 26px;
  border-radius: 3px;
  color: #858484;
  background-color: #dcd9d8;
  cursor: pointer;
}

.wx-right .nav-left {
  width: 100%;
  height: calc(100% - 70px);
  overflow-y: auto;
}


.nav-friends-menu .nav-left {
  height: calc(100% - 120px) !important;
}



.nav-group-menu .nav-left {
  height: calc(100% - 69px) !important;
}


.wx-right main>.msg-notify-items {
  width: 100%;
  height: auto;
  margin: 0 auto;
}


.addNotify {
  background-color: #dcdcdc;
}

.msg-notify-item {
  padding: 12px 0;
  cursor: pointer;
  border-bottom: 1px solid #e3d9d9;
  position: relative;
}

.msg-notify-item .notify-unread-num {
  display: inline-block;
  background: rgb(253, 0, 0);
  border-radius: 50%;
  color: rgb(255, 236, 236);
  font-size: 10px;
  position: absolute;
  left: 43px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  max-width: 19px;
  min-width: 15px;
  top: 6px;
}

.msg-notify-item:hover {
  background-color: #DDDBDB;
}

.msg-notify-item::after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

.msg-notify-item img {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 3px;
  margin-left: 10px;
}

.msg-notify-item .list-right {
  width: 172px;
  float: left;
  margin-left: 11px;
}

.wx-right .msg-notify-items .list-right .name {
  height: 22px;
  line-height: 22px;
  font-size: 14px;
}

.wx-right .msg-notify-items .list-right .firname {
  width: 70%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wx-right .msg-notify-items .list-right .time {
  font-size: 13px;
  float: right;
  color: #a1a1a1;
}

.wx-right .msg-notify-items .list-right .chat {
  width: 100%;
  font-size: 10px;
  color: #a1a1a1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  line-height: 20px;
}

.msg-notify-items .van-cell {
  background-color: #ece9e8;
}







.chat-dialogue-box .friendName {
  width: 100%;
  height: 69px;
  border-bottom: 1px solid #e7e7e7;
}

.chat-dialogue-box .friendName>span {
  line-height: 70px;
  margin-left: 35px;
  font-size: 19px;
}



.chat-dialogue {
  padding: 20px;
  width: calc(100% - 40px) !important;
  height: calc(100% - 269px) !important;
  overflow-y: scroll;
}

.chat-dialogue .toolbar-load-chat-msg {
  color: #00d7ff;
  cursor: pointer;
  text-align: center;
}

.chat-dialogue .toolbar-load-chat-msg .not-have-msg {
  color: #bdb7b7;
}


.chat-dialogue .right {
  min-height: 40px;
  margin-top: 10px;
  float: right;
  width: 100%;
  padding-bottom: 10px;
}

.chat-dialogue .right>img {
  width: 40px;
  height: 40px;
  float: right;
  cursor: pointer;
}

.chat-dialogue .left {
  min-height: 40px;
  margin-top: 10px;
  float: left;
  width: 100%;
  padding-bottom: 10px;
  position: relative;
}

.chat-dialogue .left>img {
  width: 40px;
  height: 40px;
  float: left;
  cursor: pointer;
}


.chat-dialogue .left .send,
.chat-dialogue .right .send {
  max-width: 300px;
  min-height: 20px;
  border-radius: 3px;
  position: relative;
  font-size: 14px;
  padding: 10px;
  line-height: 22px;
}

.chat-dialogue .left .send {
  background-color: #fff;
}

.chat-dialogue .box-group {
  float: left;
  margin-left: 20px;
}


.chat-dialogue .right>.rightSend {
  float: right;
  background-color: #9eea6a;
  margin-right: 20px;
  white-space: pre-line;
}

.chat-dialogue .leftSend .arrow,
.chat-dialogue .rightSend .arrow {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  border: solid 8px;
  top: 5px;
}

.chat-dialogue .left .leftSend>.leftArrow {
  border-color: #f5f5f5 #fff #f5f5f5 #f5f5f5;
  left: -16px;
}

.chat-dialogue .right .rightSend>.rightArrow {
  border-color: #f5f5f5 #f5f5f5 #f5f5f5 #9eea6a;
  right: -16px;
}

.chat-dialogue div:nth-child(1) {
  margin-top: 0px !important;
}


.chat-dialogue-box footer {
  width: 100%;
  height: 207px;
  background-color: #fff;
  box-shadow: 1px -2px 20px 0px #e9dcdc;
  border-top: 1px solid #ececec;
}


#message-edit {
  padding-left: 10px;
  height: 158px;
  width: calc(100% - 10px);
}

#edit-toolbar {
  width: calc(100% - 10px);
  height: 45px;
  line-height: 45px;
}

#edit-toolbar li {
  float: left;
  margin-right: 15px;
}

#edit-toolbar li i {
  font-size: 22px;
  cursor: pointer;
}

#message-edit textarea {
  width: calc(100% - 10px);
  height: 105px;
  resize: none;
  font-size: 15px;
  overflow-y: auto;
}

#message-edit textarea::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

#message-edit textarea::-webkit-scrollbar-thumb {
  background: #d5cfcf;
}

#message-edit textarea::-webkit-scrollbar-track {
  background: #EDEDED;
}


#message-edit textarea::-webkit-input-placeholder {
  color: #a9a4a4;
  font-size: 12px;
}


.weixinLogo {
  text-align: center;
  line-height: 770px;
  font-size: 38px;
  color: #dfdede;
  text-shadow: 5px 2px 6px #e4e4e4;
  font-family: "Times New Roman", Georgia, Serif;
  font-style: italic;
}

.closeLogin {
  color: #fff;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.nav-right {
  width: calc(100% - 248px) !important;
  float: left;
  position: relative;
  height: 100%;
}

#layout-left-box .setUp {
  width: 120px;
  position: absolute;
  bottom: 0px;
  left: 62px;
  z-index: 66;
  background-color: #fff;
}

.setUp li {
  line-height: 35px;
  text-align: center;
  font-size: 13px;
  border-bottom: 1px solid #EDEDED;
  cursor: pointer;
}

.setUp li:last-child {
  border-bottom: none;
}

.setUp li:hover {
  background: #f1f1f1cc;
}



/* 用户模块开始 */



.friends-notify {
  height: 50px;
  line-height: 50px;
  background: #e4e4e5;
  border-bottom: 1px solid #e3d9d9;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
}


.friends-notify:active {
  background: #dcdcdc;
}

.friends-notify .cus-tubiao {
  height: 40px;
  width: 40px;
  display: inline-block;
  background: #43b735;
  text-align: center;
  line-height: 42px;
  color: #ffff;
  border-radius: 5px;
  position: relative;
}

.friends-notify .cus-tubiao .appyle-hotspot {
  width: 0px;
  height: 5px;
  background: #ff6060;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: 33px;
  top: 4px;
  line-height: 5px;
}


.friends-notify span {
  padding-left: 5px;
}


.users-list-items {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.users-list-items .users-list-item {
  height: 44px;
  position: relative;
  padding: 10px 3px 10px 10px;
  cursor: pointer;
  border-bottom: 1px solid #e3d9d9;
}

.users-list-items .users-list-item-active {
  background-color: #dcdcdc !important;
}

.users-list-item img {
  width: 40px;
  height: 40px;
  border-radius: 3px;
}

.users-list-item span {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 20px;
  left: 63px;
}

.users-list-item .user-online {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 10px;
  height: 10px;
  background: #269e37;
  line-height: 8px;
  text-align: center;
  font-size: 10px;
  color: white;
}



.users-list-item:hover {
  background-color: #DDDBDB;
}

/* 用户模块结束 */


/* 用户信息 */
.nav-user-message {
  width: 350px;
  height: 500px;
  margin: 100px auto;
  margin-top: 135px;
  -webkit-box-shadow: #666 0px 0px 10px;
  -moz-box-shadow: #666 0px 0px 10px;
  box-shadow: #ded2d2 0px 0px 20px;
  border-radius: 5px;
  position: relative;
}

.nav-user-message header {
  width: 100%;
  background: linear-gradient(to right, #94c4dc, #299ce8);
  padding: 40px 0;
  display: flex;
  position: relative;
}

.nav-user-message header>i {
  cursor: pointer;
  font-size: 29px;
  color: #fff;
  position: absolute;
  right: 8px;
  top: 5px;
}

.nav-user-message header>img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 25px;
}

.nav-user-message header>span {
  line-height: 60px;
  margin-left: 15px;
  color: #fff;
}

.nav-user-message main {
  width: 80%;
  margin: 0 auto;
  font-size: 15px;
  padding: 10px 0;
}

.nav-user-message main>h5 {
  line-height: 30px;
}

.nav-user-message main>.userName {
  line-height: 35px;
}

.nav-user-message main>.userName>.name {
  width: 55px;
  color: #B6AEB2;
  font-size: 14px;
  display: inline-block;
}

.nav-user-message main>.userName>.user-motto {
  color: #868686;
}

.nav-user-message main>.userName .remarks {
  color: #92CBFF;
  font-size: 18px;
  position: relative;
  top: 2px;
}

.nav-user-message main .reviseName {
  width: 70%;
  display: inline-block;
}

.nav-user-message main .reviseName>input {
  width: 60%;
  line-height: 25px;
  border: 1px solid #92CBFF;
  padding-left: 5px;
  border-radius: 3px;
}

.nav-user-message main .reviseName>span {
  width: 55px;
  text-align: center;
  line-height: 27px;
  background-color: #008CEE;
  border-radius: 2px;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  margin-left: 10px;
  cursor: pointer;
}

.nav-user-message .sendNews {
  width: 126px;
  text-align: center;
  line-height: 35px;
  border-radius: 3px;
  background-color: #53b8ff;
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  left: 34%;
}

.chat-dialogue .groupChat {
  display: block;
  line-height: 7px;
  font-size: 13px;
  color: #B2B2B2;
  padding-bottom: 11px;
}


.nav-right>header {
  width: 100%;
  height: 69px;
  line-height: 69px;
  border-bottom: 1px solid #e7e7e7;
}

.nav-right>header span {
  margin-left: 25px;
  font-size: 18px;
}

.nav-right .applyList {
  width: 95%;
  height: calc(100% - 80px);
  margin: 0 auto;
  margin-top: 10px;
  overflow-y: auto;
  position: relative;
}



.applyList .apply-handle-from {
  height: 65px;
  line-height: 65px;
  width: 100%;
  background: #e8e3e3;
  position: absolute;
  box-shadow: inset 9px 3px 20px #d5d5d5;
}



.apply-handle-from div:nth-child(1) {
  float: left;
  margin-left: 13px;
}


.apply-handle-from div:nth-child(1) input {
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  padding: 3px 5px 3px 5px;
}


.apply-handle-from div:nth-child(2) {
  float: right;
  margin-right: 23px;
}


.apply-handle-from .handle-from-btn span {
  width: 45px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  margin-left: 8px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}


.apply-handle-from .handle-from-btn span:nth-child(1) {
  background-color: #24ba39;
}

.apply-handle-from .handle-from-btn span:nth-child(2) {
  background-color: #CCCCCC;
}

.apply-list-empty {
  text-align: center;
  line-height: 300px;
  font-size: 20px;
  color: #dfdede;
  text-shadow: 5px 2px 6px #e4e4e4;
  font-family: "Times New Roman", Georgia, Serif;
  font-style: italic;
}

.applyList>.applyList_content {
  border-bottom: 1px solid #eae4e4;
  padding: 10px;
  height: 45px;
}

.applyList>.applyList_content:hover {
  background: #e7e7e7;
}


.applyList>.applyList_content img {
  width: 45px;
  border-radius: 6px;
  height: 45px;
  float: left;
  cursor: pointer;
}

.applyList_content .name{
  float: left;
  width: calc(100% - 180px);
  margin-left: 10px;
  font-size: 16px;
}

.applyList_content .name p:first-child{
  height: 20px;
  line-height: 20px;
}

.applyList_content .name p:last-child {
  font-size: 12px;
  color: #999999;
  margin-top: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.applyList_content .message {
  float: right;
  line-height: 45px;
  font-size: 12px;
  color: #999999;
  margin-right: 10px;
}

.applyList_content .success>span {
  padding: 3px 10px;
  line-height: 22px;
  background-color: #24ba39;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.applyList_content .success>span:last-child {
  background-color: #cccccc;
  margin-left: 6px;
}
